<table class="table table-vcenter table-striped">
  <thead>
  <tr>
    <th>Tên</th>
    <th>Bắt đầu lúc</th>
    <th style="width: 150px;" class="text-center">Hành động</th>
  </tr>
  </thead>
  <tbody>
  <%= render partial: "questions/my_question", collection: @questions, as: :question %>
  </tbody>
</table>
