<table class="table table-vcenter table-striped">
  <thead>
  <tr>
    <th><%= I18n.t("registrations.signup_form.name") %></th>
    <th><%= I18n.t("form.notes.starts_on") %></th>
    <th style="width: 150px;" class="text-center"><%= I18n.t("form.notes.activity") %></th>
  </tr>
  </thead>
  <tbody>
  <%= render partial: "questions/my_question", collection: @questions, as: :question %>
  </tbody>
</table>
