.chart {
  padding: 12.5% 25%;
}

.canvasjs-chart-credit {
}

.cke_contents_ltr {
  padding: 5px;
  margin: 10px;
  border: solid 1px
}

.tasks {
  .add-task {
    display: table;
    margin: 0 auto;
  }
}
