<div class="alert alert-success alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
  <h4><i class="fa fa-check-circle"></i> <%= t("alert.success") %></h4> <%= t("alert.settings") %> <a href="javascript:void(0)" class="alert-link"><%= t("alert.updated") %></a>
</div>
