<div class="col-md-4">
  <div class="widget well">
    <div class="widget-advanced widget-advanced-alt">
      <div class="widget-header text-center themed-background-dark">
        <div class="widget-options-left">
          <button class="btn btn-xs btn-primary" data-toggle="tooltip" title="Edit"><i class="fa fa-pencil"></i></button>
        </div>
        <div class="widget-options">
          <button class="btn btn-xs btn-primary" data-toggle="tooltip" title="Settings"><i class="fa fa-cog"></i></button>
        </div>
        <a href="page_ready_user_profile.html">
          <img src="#" alt="avatar" class="widget-image img-circle">
        </a>
        <h4 class="widget-content-light">
          <a href="page_ready_user_profile.html"><%= event.name %></a><br>
        </h4>
      </div>

      <div class="widget-main">
        <div class="list-group remove-margin">
          <a href="javascript:void(0)" class="list-group-item">
            <span class="pull-right"><strong>160</strong></span>
            <h4 class="list-group-item-heading remove-margin"><i class="fa fa-file fa-fw"></i> <%= event.starts_on %></h4>
          </a>
          <a href="javascript:void(0)" class="list-group-item">
            <span class="pull-right"><strong>90</strong></span>
            <h4 class="list-group-item-heading remove-margin"><i class="fa fa-briefcase fa-fw"></i><%= event.ends_on %></h4>
            <p class="list-group-item-text"></p>
          </a>
          <a href="javascript:void(0)" class="list-group-item">
            <span class="pull-right"><strong>3.589</strong></span>
            <h4 class="list-group-item-heading remove-margin"><i class="fa fa-users fa-fw"></i><%= event.description %></h4>
            <p class="list-group-item-text"></p>
          </a>
          <a href="javascript:void(0)" class="list-group-item">
            <span class="pull-right"><strong>15.325</strong></span>
            <h4 class="list-group-item-heading remove-margin"><i class="fa fa-heart fa-fw"></i> Likes</h4>
            <p class="list-group-item-text"></p>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
