<table class="table table-vcenter table-striped">
  <thead>
  <tr>
    <th><%= I18n.t("form.name_placeholder")%></th>
    <th><%= I18n.t("sessions.placeholder.email")%></th>
  </tr>
  </thead>
  <tbody>
  <%= render @participants %>
  </tbody>
</table>
