<%= render 'layouts/header' %>

<section class="pt-12">
  <div class="container">
    <div class="row">
        <div class="col-12">
          <!-- Heading -->
          <h2 class="mb-10 text-center">New Product</h2>
        </div>
    </div>
  
  <div class="row">
    <% @product.each do |product|%>
      <div class="col-6 col-md-3 col-lg">
      <!-- Card -->
        <div class="card mb-7" data-toggle="card-collapse">
          <!-- Image -->
          <a href="product.html">
          <%# <img src="assets/img/products/product-5.jpg" alt="..." class="card-img-top"> %>
          </a>
          <!-- Collapse -->
          <div class="card-collapse-parent">
          <!-- Body -->
          <div class="card-body px-0 bg-white text-center">
              <!-- Heading -->
              <div class="mb-1 font-weight-bold">
              <a class="text-body" href="product.html"><%= product.product_name %></a>
              </div>
              <!-- Price -->
              <div class="mb-1 font-weight-bold text-muted">
                $<%= product.price%>
              </div>
              <!-- Rating -->
              <div class="rating font-size-xxs text-dark justify-content-center" data-value="3">
              <div class="rating-item">
                  <i class="fa fa-star"></i>
              </div>
              <div class="rating-item">
                  <i class="fa fa-star"></i>
              </div>
              <div class="rating-item">
                  <i class="fa fa-star"></i>
              </div>
              <div class="rating-item">
                  <i class="fa fa-star"></i>
              </div>
              <div class="rating-item">
                  <i class="fa fa-star"></i>
              </div>
              </div>
          </div>

          <!-- Footer -->
          <div class="card-collapse collapse">
              <div class="card-footer px-0 pt-0 bg-white text-center">
              <button class="btn btn-xs btn-link btn-circle" data-toggle="modal" data-target="#modalProduct">
                  <i class="fa fa-eye"></i>
              </button>
              <button class="btn btn-xs btn-link btn-circle" data-toggle="button">
                  <i class="fa fa-shopping-cart"></i>
              </button>
              <button class="btn btn-xs btn-link btn-circle" data-toggle="button">
                  <i class="fa fa-heart"></i>
              </button>
              </div>
          </div>

          </div>

        </div>
      </div>
    <% end %>
      <div class="col-6 col-md-3 col-lg">
      </div>
    <!-- Divider -->
      <div class="w-100 d-none d-lg-block"></div>
    
  </div>

  <div class="row">
      <div class="col-12">
        <!-- Link  -->
        <div class="mt-7 text-center">
          <a class="link-underline" href="shop.html">Discover more</a>
        </div>
      </div>
    </div>
  </div>
</section>
