<table class="table table-vcenter table-striped">
  <thead>
  <tr>
    <th>Tên</th>
    <th>Tên File</th>
    <th>File Size</th>
    <th style="width: 150px;" class="text-center">Tải về</th>
  </tr>
  </thead>
  <tbody>
  <%= render @documents %>
  </tbody>
</table>
