<table class="table table-vcenter table-striped">
  <thead>
  <tr>
    <th>STT</th>
    <th>Tên</th>
    <th>Bắt đầu lúc</th>
    <th>Dự kiến</th>
    <th style="width: 150px;" class="text-center">Hành động</th>
  </tr>
  </thead>
  <tbody>
  <%= render @questions %>
  </tbody>
</table>

