<div class="block">
  <!-- Title -->
  <div class="block-title">
    <div class="block-options pull-right">
      <a class="btn btn-alt btn-sm btn-default dropdown-toggle enable-tooltip" title="Go to botton"
         onclick="scrollToBot('box-list')">
        <i class="hi hi-chevron-down"></i>
      </a>
      <div class="btn-group btn-group-sm">
        <a href="javascript:void(0)" class="btn btn-alt btn-sm btn-default dropdown-toggle enable-tooltip" data-toggle="dropdown" title="Status"><i class="fa fa-cog"></i></a>
      </div>
    </div>
    <h2><i class="fa fa-pencil animation-pulse"></i> <%= @question.title  %></h2>
  </div>
  <div class="chatui-container block-content-full ow">
    <div class="chatui-talk">
      <div class="chatui-talk-scroll" id="box-list">
        <ul>
          <%= render partial: "answers/answer", collection: @answers, as: :answer, locals: {current_participant_id: current_participant&.id} %>
        </ul>
      </div>
    </div>
  </div>
</div>
<%= javascript_include_tag "dashboard/readyChat" %>
<script>
  room = ReadyChat.init();
  $("#box-list").scrollTop(function () {
    return this.scrollHeight;
  });

</script>
