<div class="row">
  <div class="col-md-12">
    <div class="block full">
      <div class="block-title">
        <div class="block-options pull-right" id="dashboard-menu">
          <div class="btn-group">
            <%= link_to "Tạo cuộc họp mới", new_dashboard_event_path,class: "btn btn-alt btn-sm btn-default dropdown-toggle", remote: true %>
          </div>
        </div>
        <ul class="nav nav-tabs dashboard-tab" data-toggle="tabs">
          <li class="active"><a href="#dashboard-events">Cuộc họp </a></li>
          <li><a href="#dashboard-contacts">Liên hệ</a></li>
          <li><a href="#dashboard-invited_events">Cuộc họp được mời</a></li>
        </ul>
      </div>
      <div class="tab-content">
        <div class="tab-pane active" id="dashboard-events">
          <div class="row">

            <% @events.each do |event| %>
              <div id="product" >
                
              </div>
            <% end %>
          </div>
        </div>
        <div class="tab-pane active" id="dashboard-contacts">
          <div class="row">

          </div>
        </div>

        <div class="tab-pane active" id="dashboard-invited_events">
          <div class="row">

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
