<div id="login-container" class="animation-fadeIn">
  <div class="login-title text-center">
    <h1><i class="gi gi-flash"></i> <strong>DL-CHAT</strong><br><small>Nhập mã code hoặc đăng nhập để tham gia cuộc họp</small></h1>
  </div>
  <div class="block push-bit" id="form-shower">
    <%= render "home_code_form" %>
  </div>
</div>
