<li>
  <%= link_to_function("Mời bằng file excel",
                       h("show_modal(\"#{j render "dashboard/invitations/upload"}\")"),
                       ) %>
</li>
<li>
  <%= link_to I18n.t("invitations.contact"), list_invited_dashboard_event_invitations_path(@event), remote: true %>
</li>
