<%= form_for [:dashboard, @event, @note], remote: true,
             html: { class: "form-horizontal" } do |f| %>
  <div class="form-group">
    <%= f.label I18n.t("form.notes.name"), class:
      "control-label col-md-3 col-sm-3 col-xs-12" %>
    <div class="input-group col-md-6 col-sm-6 col-xs-12">
      <%= f.text_field :title, class: "form-control" %>
    </div>
  </div>

  <div>
    <%= f.cktext_area :content %>
  </div>

  <div class="form-group form-actions text-center">
    <div class="col-xs-12">
      <button type="Submit" class="btn btn-sm btn-primary"><i class="fa fa-angle-right"></i> Submit</button>
    </div>
  </div>
<% end %>
