<div>
  <h6><%= I18n.t("form.notes.starts_on")%>: <%= strftime @event.starts_on %> </h6>
</div>
<div>
  <h6><b><%= I18n.t("form.notes.content")%>: </b></h6>
  <div>
    <%= @event.description&.html_safe %>
  </div>
</div>
