<!-- BREADCRUMB -->
<nav class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-12">

        <!-- Breadcrumb -->
        <ol class="breadcrumb mb-0 font-size-xs text-gray-400">
          <li class="breadcrumb-item">
            <a class="text-gray-400"><%= t "layout.header.home" %></a>
          </li>
          <li class="breadcrumb-item active">
            <%= t "content.product.name_product" %>
          </li>
        </ol>

      </div>
    </div>
  </div>
</nav>
