<div id="sidebar-alt">
  <div id="sidebar-alt-scroll">
    <div class="sidebar-content">
      <a href="page_ready_chat.html" class="sidebar-title">
        <i class="gi gi-comments pull-right"></i> <strong>Chat</strong>UI
      </a>
      <!-- Chat Users -->
      <ul class="chat-users clearfix">
        <li>
          <a href="javascript:void(0)" class="chat-user-online">
            <span></span>
            <img src="#" alt="avatar" class="img-circle">
          </a>
        </li>
      </ul>
      <!-- END Chat Users -->

      <!-- Chat Talk -->
      <div class="chat-talk display-none">
        <!-- Chat Info -->
        <div class="chat-talk-info sidebar-section">
          <button id="chat-talk-close-btn" class="btn btn-xs btn-default pull-right">
            <i class="fa fa-times"></i>
          </button>
          <img src="#" alt="avatar" class="img-circle pull-left">
          <strong>John</strong> Doe
        </div>

        <ul class="chat-talk-messages">
          <li class="text-center"><small>Yesterday, 18:35</small></li>
          <li class="chat-talk-msg animation-slideRight">Hey admin?</li>
          <li class="chat-talk-msg animation-slideRight">How are you?</li>
          <li class="text-center"><small>Today, 7:10</small></li>
          <li class="chat-talk-msg chat-talk-msg-highlight themed-border animation-slideLeft">I'm fine, thanks!</li>
        </ul>
        <form action="index.html" method="post" id="sidebar-chat-form" class="chat-form">
          <input type="text" id="sidebar-chat-message" name="sidebar-chat-message" class="form-control form-control-borderless" placeholder="Type a message..">
        </form>
      </div>
    </div>
  </div>
</div>
